%h2 
  = current_user.username
  Recipes

%a{:href => "recipes/new"}
  %i.fa.fa-plus
  Create Recipe

#recipes
  %table.table.table-striped.text-center
    %th.text-center ID
    %th.text-center Recipe Title
    %th.text-center Category
    %th.text-center Ingredient Count
    %th.text-center Has Image
    %th.text-center Status
    %th.text-center Created At
    %th.text-center Actions
    - @recipes.each do |recipe|
      %tr
        %td= recipe.id
        %td
          %a{:href => "recipes/#{recipe.id}"}
            = recipe.title
        %td= recipe.category
        %td= recipe.ingredients.count
        %td
          - if recipe.image?
            Yes
          - else
            No
        %td
          %p.label{:class => (recipe.status == "published" ? "label-success published" : "label-danger")}
            = recipe.status
        %td= recipe.created_at.strftime('%e-%b-%Y')
        %td
          %a{:href => "/users/#{@user.id}/recipes/#{recipe.id}/edit"}
            %i.fa.fa-edit
          %a{:href => "/users/#{@user.id}/recipes/#{recipe.id}/delete", :onclick => "return confirm('Are you sure you want to delete this item?');"}
            %i.fa.fa-trash-alt